extends ../../layout

block content

  .container.body
    .main_container
      // sidebar
      include _sidebar
      
      // top navigation
      include _navbar

      // page content
      .right_col(role='main')
        block main_content
      // /page content

      // footer content
      //- include _footer
