extends layout

block content
  div
    .login_wrapper
      .form.login_form
        section.login_content
          form(action='/login', method='POST')
            h1 Login
            div
              input.form-control(name='username' type='email', placeholder='Email', required='required')
            div
              input.form-control(name='password' type='password', placeholder='Password', required)
            div
              button.btn.btn-default(type='submit') Log in
              a.reset_pass(href='/forgot') Lost your password?
            .clearfix
            .separator
              p.change_link
                | New to site? 
                a.to_register(href='/signup') Create Account 
                include partials/_auth_footer
