extends partials/dashboard/_frame

block main_content
  .row
    .col-md-6.col-xs-12
      include partials/profile/_user
    .col-md-6.col-xs-12
      include partials/profile/_passport
    .col-md-6.col-xs-12
      include partials/profile/_visa
    .col-md-6.col-xs-12
      include partials/profile/_bank
