extends layout

block content
  div
    .registration_wrapper.text-center
      //- .form
        //- section.login_content
      form#registrationForm(action='/signup', method='POST')
        //- h3 Create Account
        include partials/_registration_wizard
        .clearfix
        .separator
          p.change_link
            | Already a member? 
            a.to_register(href='/') Log in 
          include partials/_auth_footer
