#step-3
  h2.StepTitle Visa Information
  .item.form-group.col-md-4.col-sm-4.col-xs-12.col-md-offset-2.col-sm-offset-2
    input.form-control(name='visa_number' type='text', placeholder='Visa Number', required='')
  .item.form-group.col-md-4.col-sm-4.col-xs-12
    input.form-control(name='visa_issuer' type='text', placeholder='Visa Issuer (Company)', required='')
  .item.form-group.col-md-4.col-sm-4.col-xs-12.col-md-offset-2.col-sm-offset-2
    input.form-control(name='visa_issue_date' type='text', placeholder='Visa Issue Date', required='')
  .item.form-group.col-md-4.col-sm-4.col-xs-12
    input.form-control(name='visa_expiry_date' type='text', placeholder='Visa Expiry Date', required='')
