#step-4
  h2.StepTitle Bank Information
  .item.form-group.col-md-6.col-sm-6.col-xs-12.col-md-offset-3.col-sm-offset-3
    input.form-control(name='bank_name' type='text', placeholder='Bank Name', required='')
  .item.form-group.col-md-6.col-sm-6.col-xs-12.col-md-offset-3.col-sm-offset-3
    input.form-control(name='bank_account_number' type='text', placeholder='Bank Account Number', required='')
  .item.form-group.col-md-6.col-sm-6.col-xs-12.col-md-offset-3.col-sm-offset-3
    input.form-control(name='bank_account_holder' type='text', placeholder='Bank Account Holder', required='')
